.App {
  text-align: center;
}

.App .container {
  width: 40vw;
  margin: 30px auto;
  border-radius: 10px;
  border: 1px solid gray;
  display: flex;
  min-height: 30vh;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}

.main-box .three-dots{
  display: inline-block;
  width: 70px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.main-box .ant-row {
  width: 100%;
}

.main-box .ant-col {
  display: flex;
  justify-content: center;
}